USE [master]
GO
/****** Object:  Database [TAREFASDB]    Script Date: 19/01/2021 22:30:51 ******/
CREATE DATABASE [TAREFASDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TAREFASDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TAREFASDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TAREFASDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TAREFASDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TAREFASDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TAREFASDB]
GO
/****** Object:  Table [dbo].[Tarefa]    Script Date: 19/01/2021 22:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NULL,
	[Descricao] [varchar](150) NULL,
	[Dat] [date] NULL,
	[Horai] [int] NULL,
	[Horaf] [int] NULL,
	[Prioridade] [varchar](5) NULL,
	[Finalizada] [varchar](5) NULL,
 CONSTRAINT [PK_Tarefa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteTarefa]    Script Date: 19/01/2021 22:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--For Delete

CREATE procedure [dbo].[SP_DeleteTarefa]
(
	@TarId int
)
as
BEGIN
	Delete From Tarefa Where ID=@TarId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTarefas]    Script Date: 19/01/2021 22:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllTarefas]
as
BEGIN
	select * from Tarefa
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTarefaById]    Script Date: 19/01/2021 22:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Get By TitId

create procedure [dbo].[SP_GetTarefaById]
(
	@TarId int
)
as
BEGIN
	Select * From Tarefa Where ID=@TarId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertTarefa]    Script Date: 19/01/2021 22:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--For Insert

create procedure [dbo].[SP_InsertTarefa]
(
	@Titulo varchar(50)='',
	@Descricao varchar(150)='',
	@Dat date='',
	@Horai int='',
	@Horaf int='',
	@Prioridade varchar(5)='',
	@Finalizada varchar(5)=''

)
as
BEGIN
	Insert into Tarefa (Titulo,Descricao,Dat,Horai,Horaf,Prioridade,Finalizada) Values (@Titulo,@Descricao,@Dat,@Horai,@Horaf,@Prioridade,@Finalizada)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateTarefa]    Script Date: 19/01/2021 22:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--For Update

CREATE procedure [dbo].[SP_UpdateTarefa]
(
	@TarId int=0,
	@Titulo varchar(50)='',
	@Descricao varchar(150)='',
	@Dat date='',
	@Horai int='',
	@Horaf int='',
	@Prioridade varchar(5)='',
	@Finalizada varchar(5)=''

)
as
BEGIN
	Update Tarefa Set Titulo=@Titulo,Descricao=@Descricao,Dat=@Dat,Horai=@Horai,Horaf=@Horaf,Prioridade=@Prioridade,Finalizada=@Finalizada Where ID=@TarId
END
GO
USE [master]
GO
